{% extends "home.html" %}
{% block content %}
<h1 class="text-primary text-center">This is table page</h1>
{% if Users %}
<table class="table table-bordered" style="width: 80%; height: auto; margin: auto;">
    <thead>
      <tr>
        <th scope="col">Id</th>
        <th scope="col">User Name</th>
        <th scope="col">Email</th>
        <th scope="col">Password</th>
        <th scope="col">Height</th>
        <th scope="col">Time</th>
        <th scope="col">Image</th>
      </tr>
    </thead>
    <tbody>
    {% for User in Users %}
    <tr>
        <th scope="row">{{User.userId}}</th>
        <td>{{User.username}}</td>
        <td>{{User.email}}</td>
        <td>{{User.password}}</td>
        <td>{{User.float_field}}</td>
        <td>{{User.time_field}}</td>
        <td>{{User.image_field}}</td>
    </tr>
    {% endfor %}
    </tbody>
  </table>
{% else %}
    <h1 class="text-danger text-center">There is no data</h1>
{% endif %}
{% endblock %}